@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.waiting-text{
  color: #1db954;
  font-size: 20px;

}

.nowplayingcard {
  width: 90vw;
  background-color: #212121;
  border-radius: 20px;

  .nowplayingcontainer-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;


    #trackart {
      width: 40%;
      border-radius: 20px;

    }

    .trackInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;

      .trackTitle {
        color: #b3b3b3;
        text-align: left;
        width: 80%;
        margin: 0 !important;
        padding-bottom: 10px;
      }

      .trackArtist {
        width: 80%;
        color: #535353;
        text-align: left;
        margin: 0 !important;
      }
    }
  }
}

/* CSS for screens up to 767px wide (typically mobile screens) */
@media (max-width: 767px) {
  .nowplayingcard {
      width: 90vw;
      height: 135px !important;
      display: flex;
      align-items: center;
  
      .nowplayingcontainer-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 5px !important;
        height: 100% !important;
  
  
        #trackart {
          width: 30% !important;
          border-radius: 20px;
  
        }
  
        .trackInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 60%;
  
          .trackTitle {
            color: #b3b3b3;
            text-align: left;
            width: 80%;
            margin: 0 !important;
            padding-bottom: 5px;
            font-size: 15px !important;
          }
  
          .trackArtist {
            width: 80%;
            color: #535353;
            text-align: left;
            margin: 0 !important;
            font-size: 15px !important;
          }
        }
      }
    }
}