.songSearch {

    .input-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 40px;
        input {
            padding: 10px;
            width: 80vw;
            border-radius: 35px;
        }
        
            .search {
                height: 100%;
                background-color: #1db954;
                padding: 10px;
                border-radius: 35px;
                border: none;
                
            }
    }
}

.songList{
    height: 50%;
    width: 90vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        height: 600px;
        background-color: #212121;
        border-radius: 20px;

        li{
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 100%;
            margin: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #121212;

            .songInfo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .song {
                color: #b3b3b3;
                    text-align: left;
                    width: 80%;
                    margin: 0 !important;
                    padding-bottom: 10px;

            }
            
                .artist {
                    width: 80%;
                        color: #535353;
                        text-align: left;
                        margin: 0 !important;
                }
        }

            .album{
                height: 100%;
            }

            .reqButton{
                background-color: #1db954;
                border-radius: 35px;
                padding: 10px;
                height: 40%;
                position:-webkit-sticky;
                right: 500px;
            }
        }
    }
}