.songSearch {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    .input-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        width: 70vw;
        border-radius: 35px;
        background-color: #fff;

        input {
            padding-left: 10px;
            /* Remove borders */
            border: none;
            /* Remove background */
            background: none;
            /* Remove outline */
            outline: none;
            /* Remove box shadow */
            box-shadow: none;
            /* Optionally adjust padding and margin as needed */
            margin: 0;
            /* Optionally adjust font properties */
            font-family: inherit;
            font-size: inherit;
        }

        .search {
            height: 100%;
            background-color: #1db954;
            padding: 10px;
            border-radius: 35px;
            border: none;

        }
    }
}

.songList {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        height: 600px;
        background-color: #2121217b;
        border-radius: 10px;
        padding: 0 !important;

        li {
            display: flex;
            flex-direction: row;
            height: 100px;
            width: 90%;
            margin: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #121212;

            .songInfo {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .song {
                    color: #b3b3b3;
                    text-align: left;
                    width: 80%;
                    margin: 0 !important;
                    padding-bottom: 10px;

                }

                .artist {
                    width: 80%;
                    color: #535353;
                    text-align: left;
                    margin: 0 !important;
                }
            }

            .album {
                height: 100%;
            }
        }
    }
}