
@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Monoton/Monoton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'CustomFont1'; // Same font-family name
  src: url('./fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf') format('truetype'); // Path to your bold font file
  font-weight: 700; // Bold weight
  font-style: normal; // Normal style
}

@font-face {
  font-family: 'CustomFont2'; // Same font-family name
  src: url('./fonts/Modak/Modak-Regular.ttf') format('truetype'); // Path to your bold font file
  font-weight: 700; // Bold weight
  font-style: normal; // Normal style
}

.app-name {
  font-family: 'CustomFont1';
}

.flip-card {
  perspective: 1000px; /* Allows 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out; /* Smooth flipping */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flips the card */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back when not flipped */
}

.flip-card-front {
  z-index: 2; /* Keep the front visible initially */
}

.flip-card-back {
  transform: rotateY(180deg); /* Positions the back for flipping */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222; /* Dark background for contrast */
  color: white;
  padding: 1em;
}