
@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Monoton/Monoton-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'CustomFont1'; // Same font-family name
  src: url('./fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf') format('truetype'); // Path to your bold font file
  font-weight: 700; // Bold weight
  font-style: normal; // Normal style
}

@font-face {
  font-family: 'CustomFont2'; // Same font-family name
  src: url('./fonts/Modak/Modak-Regular.ttf') format('truetype'); // Path to your bold font file
  font-weight: 700; // Bold weight
  font-style: normal; // Normal style
}

.app-name {
  font-family: 'CustomFont1';
}